<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <p>
    браузер для подключения к серверу записи:<br/>
    <a href="{{url_for('static', filename='chrome-win32.zip') }}">chrome-win32.zip</a>
  </p>
  <p>
    альтернативный плеер для воспроизведения записей:<br/>
    <a href="{{url_for('static', filename='vlc-2.1.3-win32.zip') }}">vlc-2.1.3-win32.zip</a>
  </p>
  <p>
    дополнительный кодек для стандартного Windows Megia Player:<br/>
    <a href="{{url_for('static', filename='ffdshow_codec.exe') }}">ffdshow_codec.exe</a>
  </p>


</body>
</html>